*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container {
    margin-top: 70px; 
}

body{
    background: #c0f1b8;
}

.container1 {
    Display: flex;
    justify-content: space-evenly;
}

.container2 {
    Display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.MARK {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sophia {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Connor {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Nanny {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Astro {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Grassy {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Grassy img {
    transform: rotateY(180deg);
}

.mark {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.sophia {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.connor {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.nanny {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.astro {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.grassy {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.mark-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}

.sophia-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}

.connor-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}

.nanny-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}

.astro-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}

.grassy-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 220px;
    background-color: #7bcbdd;
    border-radius: 0px 0px 15px 15px;
}