*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    background: #6A8765;
}

.container1 {
    Display: flex;
    justify-content: space-evenly;
}

.container2 {
    Display: flex;
    justify-content: space-evenly;
}

.MARK {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sophia {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Connor {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Nanny {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Astro {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Grassy {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.mark {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.sophia {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.connor {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.nanny {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.astro {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.grassy {
    height: 200px;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
}
.mark-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}

.sophia-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}

.connor-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}

.nanny-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}

.astro-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}

.grassy-price {
    height: 60px;
    width: 220px;
    background-color: #3F9BAF;
    border-radius: 0px 0px 15px 15px;
}